@import "tailwindcss";

@theme {
  --color-brand-blue: #3b82f6;
  --color-bg-dark: #0f172a;
  --color-card-dark: #1e293b;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
}
